numpy==2.3.2
pandas==2.3.1

eppy==0.5.63

ollama==0.5.1
langgraph==0.6.5
langchain==0.3.27
langchain-core==0.3.72
langchain-ollama==0.3.6

fastmcp==2.11.3

fastapi==0.116.1
uvicorn==0.35.0

streamlit==1.47.1
plotly==6.2.0

faiss-cpu==1.11.0.post1
sentence-transformers==5.0.0

pymupdf==1.26.3

requests==2.32.4
python-dotenv==1.1.1
pydantic==2.11.7
rich==14.1.0
loguru==0.7.3

pytest==8.4.1
pytest-cov==6.2.1
black==25.1.0