#Core
numpy==2.3.2
pandas==2.3.1

#energy plus
eppy==0.5.63

#llm
ollama==0.5.1

#mcp
mcp==1.12.3

#backend
fastapi==0.116.1
uvicorn==0.35.0

#dashboard
streamlit==1.47.1
plotly==6.2.0

#http
requests==2.32.4

#utils
python-dotenv==1.1.1
pydantic==2.11.7
rich==14.1.0

#devlopment
pytest==8.4.1
black==25.1.0